table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    background-color:steelblue;
  }
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 